openapi: 3.0.1
info:
  title: umd.io
  description: |-
    Welcome to umd.io, the open-source API for University of Maryland data. If you are building a University data-focused app, hack, or project, you’re in the right place. This site will walk you through basic API use and document all supported API calls.
    
    Read more about the motivation and vision for the project in the blog post.

    umd.io is a GETful API. It follows RESTful conventions, but for now, you can only get data – you can’t create, update, or destroy.

    The API is in version 0. We are adding, changing, and breaking things all the time. Contact the team or (preferably) create an issue on github if something isn’t working the way you think it should.

    We are actively looking for contributors! Tweet, email, or otherwise get in touch with us.
  contact:
    email: hi@umd.io
  license:
    name: MIT
    url: https://github.com/umdio/umdio/LICENSE
  version: 0.0.0
externalDocs:
  description: Github
  url: https://github.com/umdio/umdio
servers:
- url: https://api.umd.io/v0
tags:
- name: courses
  description: "University courses and their sections. Scraped from Testudo"
- name: professors
  description: Professors listed on Testudo
- name: bus
  description: Nextbus data
- name: map
  description: Building data
- name: major
  description: Major data
paths:
  /courses:
    get:
      tags:
      - courses
      summary: Paginated list of courses
      description: Paginated list of all courses for a given semester
      operationId: findCourses
      parameters:
        - $ref: '#/components/parameters/semester'
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Course'
        400:
          description: Invalid status value
          content: {}
  /courses/list:
    get:
      tags:
      - courses
      summary: List of trimmed course objects
      description: Returns a list of all courses, trimmed down to name, course id, and department.
      operationId: findAllCourses
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    course_id:
                      type: string
                    name:
                      type: string
                    department:
                      type: string
        400:
          description: Invalid status value
          content: {}
  /courses/{course}:
    get:
      tags:
      - courses
      summary: Get course by id
      description: Gets one or more courses by course_id
      operationId: findCourse
      parameters:
        - in: 'path'
          name: 'course'
          required: true
          schema:
            type: string
          explode: true
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                oneOf: 
                  - $ref: '#/components/schemas/Course'
                  - type: array
                    items:
                      $ref: '#/components/schemas/Course'
        400:
          description: Invalid status value
          content: {}
  /courses/sections:
    get:
      tags:
      - courses
      summary: Paginated list of sections
      description: Paginated list of all sections for a given semester
      operationId: findSections
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Section'
        400:
          description: Invalid status value
          content: {}
  /courses/sections/{section}:
    get:
      tags:
      - courses
      summary: Get sections by id
      description: Gets one or more sections by section_id
      operationId: findSectionsById
      parameters:
        - in: 'path'
          name: 'section'
          required: true
          schema:
            type: string
          explode: true
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                oneOf: 
                  - $ref: '#/components/schemas/Section'
                  - type: array
                    items:
                      $ref: '#/components/schemas/Section'
        400:
          description: Invalid status value
          content: {}  
  /courses/departments:
    get:
      tags:
      - courses
      summary: List departments
      description: Get a list of all department ids and names.
      operationId: findDepartments
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items: 
                  $ref: '#/components/schemas/Department'
        400:
          description: Invalid status value
          content: {}  
  /professors:
    get:
      tags:
      - professors
      summary: Paginated list of professors
      description: Paginated list of all professors for a given semester
      operationId: findProfessors
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Professor'
        400:
          description: Invalid status value
          content: {}
  /map:
    get:
      tags:
      - map
      summary: List buildings
      description: Get a list of the available buildings.
      operationId: findBuildings
      responses:
        200:
          description: Successful Operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Building'
  /map/{building_id}:
    get:
      tags:
      - map
      summary: Get buildings
      description: Get location data about one or more buildings. Comma separated building numbers are the parameters.
      operationId: findBuildingById
      parameters:
        - in: 'path'
          name: 'building_id'
          required: true
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
            example: 226
          description: "Numeric building ID"
          explode: true
      responses:
        200:
          description: Successful Operation
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Building'
                - type: array
                  items:
                    $ref: '#/components/schemas/Building'
        404:
          description: Invalid building code
          content: {}
  /bus/locations:
    get:
      tags:
      - bus
      summary: Get bus locations
      description: Get locations of all the umd buses.
      operationId: findLocations
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vehicle'
                  copyright:
                    type: string
  /bus/routes:
    get:
      tags:
      - bus
      summary: List routes
      description: List all the bus routes. Returns the route ids and the names of the routes.
      operationId: findRoutes
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    route_id:
                      type: string
                    title:
                      type: string
  /bus/routes/{route}:
    get:
      tags:
      - bus
      summary: Get routes
      description: Get detailed info about one or more bus routes.
      operationId: findRouteById
      parameters:
        - in: 'path'
          name: 'route'
          required: true
          schema:
            type: string
          explode: true
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                oneOf: 
                  - $ref: '#/components/schemas/Route'
                  - type: array
                    items:
                      $ref: '#/components/schemas/Route'
  /bus/routes/{route}/locations:
    get:
      tags:
      - bus
      summary: Locate buses on a route
      description: Get the locations of buses along a bus route.
      operationId: findRouteLocations
      parameters:
        - in: 'path'
          name: 'route'
          required: true
          schema:
            type: string
          explode: true
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vehicle'
                  copyright:
                    type: string
  /bus/routes/{route}/schedules:
    get:
      tags:
      - bus
      summary: Get route schedules
      description: Get the schedules for a route.
      operationId: findRouteSchedule
      parameters:
        - in: 'path'
          name: 'route'
          required: true
          schema:
            type: string
          explode: true
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    days:
                     type: string
                    direction:
                      type: string
                    stops:
                      type: array
                      items:
                        type: object
                        properties:
                          stop_id:
                            type: string
                          name:
                            type: string
                    trips:
                      type: array
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            stop_id:
                              type: string
                            arrival_time:
                              type: string
                            arrival_time_secs:
                              type: string
        404:
          description: Invalid route
          content: {}
  /bus/routes/{route}/arrivals/{stop}:
    get:
      tags:
      - bus
      summary: Get predicted arrivals
      description: Get the predicted arrivals for a particular stop on a route.
      operationId: findRouteArrival
      parameters:
        - in: 'path'
          name: 'route'
          required: true
          schema:
            type: string
          explode: true
        - in: 'path'
          name: 'stop'
          required: true
          schema:
            type: string
          explode: true
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  predictions:
                    type: object
                    properties:
                      agencyTitle: 
                        type: string
                      routeTag:
                        type: string
                      routeTitle:
                        type: string
                      direction:
                        type: object
                        properties:
                          title:
                            type: string
                          prediction:
                            type: array
                            items: 
                              $ref: '#/components/schemas/Prediction'
                    
        400:
          description: Invalid status value
          content: {}
  /bus/stops:
    get:
      tags:
      - bus
      summary: List stops
      description: Get information about all the stops.
      operationId: findStops
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    stop_id:
                      type: string
                    title:
                      type: string
  /bus/stops/{stop}:
    get:
      tags:
      - bus
      summary: Get stops
      description: Get full information about a stop.
      operationId: findStopById
      parameters:
        - in: 'path'
          name: 'stop'
          required: true
          schema:
            type: string
          explode: true
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                oneOf: 
                  - $ref: '#/components/schemas/Stop'
                  - type: array
                    items:
                      $ref: '#/components/schemas/Stop'
        400:
          description: Invalid status value
          content: {}
  /major:
    get:
      tags:
      - major
      summary: Majors
      description: List of all majors
      operationId: findMajors
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Major'
components:
  schemas:
    Building:
      type: object
      description: "Represents a building on campus."
      properties:
        name:
          type: string
          description: "Name of the building"
          example: "Edward St. John Learning and Teaching Center"
        code:
          type: string
          description: "Shortened building code. Not all buildings have these."
          example: "ESJ"
        number:
          type: integer
          description: "Unique building number"
          example: 226
        lng:
          type: number
          description: "Longitude"
          example: "-76.941914"
        lat:
          type: number
          description: "Latitude"
          example: "38.986699"
    Course:
      type: object
      properties:
        course_id:
          type: string
          description: 'A unique string ID with a four-letter dept_id followed by a three digit course number and an optional letter. '
          pattern: '[A-Za-z]{4}[0-9]{3}[A-Za-z][A-Za-z]?'
          example: "MATH141"
        name:
          type: string
          example: "Calculus II"
        dept_id:
          type: string
          example: "MATH"
        semester:
          type: integer
          example: 201908
        credits:
          type: string
          example: 4
        grading_method:
          type: array
          items:
            type: string
          example: ["Regular", "Pass-Fail", "Audit"]
        core:
          type: array
          items:
            type: string
          example: ["MS"]
        gen_ed:
          type: array
          items:
            type: string
          example: []
        description:
          type: string
          example: "Continuation of MATH140, including techniques of integration, improper integrals, applications of integration (such as volumes, work, arc length, moments), inverse functions, exponential and logarithmic functions, sequences and series"
        relationships:
          type: object
          properties:
            coreqs:
              type: array
              nullable: true
              items:
                type: string
            restrictions:
              type: array
              nullable: true
              items:
                type: string
            credit_granted_for:
              type: array
              nullable: true
              items:
                type: string
              example: "MATH121, MATH131, MATH141, or MATH221."
            also_offered_as:
              type: array
              nullable: true
              items:
                type: string
            formerly:
              type: array
              nullable: true
              items:
                type: string
            credit_only_granted_for:
              type: array
              nullable: true
              items:
                type: string
            additional_info:
              type: string
              example: "Or 1 course with a minimum grade of B- from (MATH130, MATH136); and permission of CMNS-Mathematics department.  All sections will require the use of a TI graphics calculator. Instructor will use a TI-83, TI-83+, TI 84, TI 84+, TI 86, or TI 89 calculator."
            prereqs:
              type: string
              nullable: true
              example: "Minimum grade of C- in MATH140."
        sections:
          type: array
          items:
            type: string
          example: ["MATH141-0111", "MATH141-0121", "MATH141-0122", "MATH141-0131", "MATH141-0141", "MATH141-0211", "MATH141-0221", "MATH141-0231", "MATH141-0251", "MATH141-0311", "MATH141-0321", "MATH141-0331", "MATH141-0341", "MATH141-0411", "MATH141-0421", "MATH141-0431", "MATH141-0441", "MATH141-FC01", "MATH141-FC02", "MATH141-FC03"]
    Department:
      type: object
      properties:
        dept_id:
          type: string
          description: "Department code."
          example: "AMSC"
        department:
          type: string
          description: "Full name of the department."
          example: "Applied Mathematics & Scientific Computation"
    Major:
      type: object
      properties:
        major_id:
          type: string
          description: "The ID corresponding with a major."
          example: "COMPUTERSCIENCE"
        name:
          type: string
          description: "The name of a major."
          example: "Computer Science"
        college:
          type: string
          description: "The college corresponding to the major."
          example: "CMNS"
        url:
          type: string
          description: "The URL of the main page of a major."
          example: "https://undergrad.cs.umd.edu/degree-requirements-cs-major"
    Prediction:
      type: object
      properties:
        isDeparture: 
          type: string
        mintues:
          type: string
        seconds:
          type: string
        vehicle:
          type: string
        affectedByLayover:
          type: string
        block:
          type: string
        dirTag:
          type: string
        epochTime:
          type: string
    Professor:
      type: object
      properties:
        name:
          type: string
          description: "The name of a professor as it appears on Testudo."
          example: "Mark Wellman"
        semester:
          type: integer
          description: "Six-digit number identifying the semester the course is offered."
          example: 201908
        courses:
          type: array
          description: "An array of courses that the professor has taught in the given semester."
          items:
            type: string
          example: ["BMGT289B", "BMGT466", "BMGT466F"]
        departments:
          type: array
          description: "An array of the departments a professor has taught in the given semester."
          items:
            type: string
          example: ["BMGT"]
    Route:
      type: object
      properties:
        route_id:
          type: string
        title:
          type: string
        stops:
          type: array
          items:
            $ref: '#/components/schemas/Stop'
        directions:
          type: object
          properties:
            direction_id:
              type: string
            title: 
              type: string
            stops:
                type: array
                items:
                  type: string
        paths:
          type: array
          items:
            type: object
            properties:
              lat:
                type: number
              lon:
                type: number
        lat_min:
          type: number
        lat_max:
          type: number
        lon_min:
          type: number
        lon_max:
          type: number
    Section:
      type: object
      properties:
        section_id:
          type: string
        course_id:
          type: string
        number:
          type: string
        instructors:
          type: array
          items:
            type: string
        seats:
          type: string
        waitlist:
          type: string
        semester:
          type: number
        meetings:
          type: object
          properties:
            days:
              type: string
            start_time:
              type: string
            end_time:
              type: string
            building:
              type: string
            room:
              type: string
            classtype:
              type: string
    Stop:
      type: object
      properties:
        stop_id:
          type: string
        title:
          type: string
        lon:
          type: number
        lat:
          type: number
    Vehicle:
      type: object
      properties:
        id:
          type: string
        lon:
          type: string
        routeTag:
          type: string
        predictable:
          type: string
        speedKmHr:
          type: string
        dirTag:
          type: string
        heading:
          type: string
        lat:
          type: string
        secsSinceReport:
          type: string
  parameters:
    course_id:
      name: course_id
      in: query
      schema:
        $ref: '#/components/schemas/Course/properties/course_id'
    semester:
      name: semester
      in: query
      schema:
        type: integer
      description: "A six-digit string <year><month>. For example, “201901” for 2019’s Winter semester or “201808” for 2018’s Fall semseter."
      example: "201908"